{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}
{% block body %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>societe</th>
            <th>nom</th>
            <th>prenom</th>
            <th>email</th>
            <th>iban</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.societe }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.iban }}</td>
                <td>
                    <a href="{{ path("modifier_categories",{"id":client.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path("delete_categories",{"id":client.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("ajouter_categories") }}" class="btn btn-success">Ajouter un client dans la base de données</a>
{% endblock %}
